{% load static %}
      <section class="object-wrap decor-text" data-content="About">
        <div class="bg-decor d-flex align-items-center justify-content-center" data-parallax-scroll="{&quot;y&quot;: 70, &quot;x&quot;: 50, &quot;smoothness&quot;: 30}"><img src="{% static 'images/bg-decor-10.png' %}" alt=""/>
        </div>
        <div class="section-lg">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <h4 class="heading-decorated">Про нас</h4>
                <p>ANMA-electric - молода компанія, що об'єднує досвідчених професіоналів в сфері електромонтажу. Прагнемо створити кращу пропозицію по електромонтажним роботам, зберігаючи баланс між ціною і якістю, виправдовуємо довіру наших замовників. Працюємо в Києві, Київській області та в Україні загалом. Роботи проводяться з використанням професійного устаткування і якісних матеріалів.</p>
                <div class="row row-30">
                  <div class="col-xl-6">
                    <!-- Blurb minimal-->
                    <article class="blurb blurb-minimal">
                      <div class="unit flex-row unit-spacing-md">
                        <div class="unit-left">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-menu3"></span></div>
                        </div>
                        <div class="unit-body">
                          <p class="blurb__title heading-6"><a href="#">Електромонтаж</a></p>
                          <p>В напрямки нашої діяльності входить повний комплекс електромонтажних робіт з нуля, а також монтаж електрообладнання будь-якої складності.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-6">
                    <!-- Blurb minimal-->
                    <article class="blurb blurb-minimal">
                      <div class="unit flex-row unit-spacing-md">
                        <div class="unit-left">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-users2"></span></div>
                        </div>
                        <div class="unit-body">
                          <p class="blurb__title heading-6"><a href="#">Команда експертів</a></p>
                          <p>Насамперед інженери нашої компанії складають схему електропроводки з урахуванням всіх необхідних побажань господарів та індивідуальних особливостей планування житла. </p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-md-12">
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Проектні роботи</p>
                          </div>
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Розмітка лазером</p>
                          </div>
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Свердління і штроблення стін</p>
                          </div>
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Збір і монтаж електрощита і розподільної коробки</p>
                          </div>
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Монтаж кабелю</p>
                          </div>
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Установка фурнітури: розеток, вимикачів</p>
                          </div>
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Освітлення: установка люстр, світильників, світлодіодної підсвітки</p>
                          </div>
                          <!-- Linear progress bar-->
                          <div class="progress-linear progress-linear-modern" style="font-size: 19px;">
                              <p><img src="{% static 'images/favicon.ico' %}" alt="Logo" style="margin-right: 4px;"> Підключення електроприладів будь-якої складності: електроплит, витяжок, бойлера, дзвінків і ін</p>
                          </div>







                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="object-wrap__body object-wrap__body-sizing-1 object-wrap__body-md-right bg-image" style="background-image: url({% static 'images/bg-image-1.jpg' %})"></div>
      </section>
