{% load static %}
      <section class="bg-gray-lighter object-wrap">
        <div class="bg-decor d-flex align-items-center justify-content-start" data-parallax-scroll="{&quot;y&quot;: 50,  &quot;smoothness&quot;: 30}"><img src="{% static 'images/bg-decor-4.png' %}" alt=""/>
        </div>
        <div class="section-lg">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <h4 class="heading-decorated">Чому вам потрібна допомога в електромонтажі?</h4>
                <p>Якщо ви робите ремонт, на етапі доштукатурних робіт розвести електрику потрібно правильно і продумано. Тільки фахівець здатний вірно скласти схему, дотримуючись при цьому всіх правил нормативної документації. Ви дізнаєтеся вартість робіт і витрат на матеріали до початку монтажу і не потрібно витрачати час на пошук і покупку потрібного інструменту чи витратних матеріалів.</p>
                <div class="row row-30">
                  <div class="col-xl-6">
                    <!-- Blurb minimal-->
                    <article class="blurb blurb-minimal">
                      <div class="unit flex-row unit-spacing-md">
                        <div class="unit-left">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-menu3"></span></div>
                        </div>
                        <div class="unit-body">
                          <p class="blurb__title heading-6"><a href="#">Award-winning designs</a></p>
                          <p>We have received numerous awards for our designs, concepts, and ideas.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                  <div class="col-xl-6">
                    <!-- Blurb minimal-->
                    <article class="blurb blurb-minimal">
                      <div class="unit flex-row unit-spacing-md">
                        <div class="unit-left">
                          <div class="blurb-minimal__icon"><span class="icon linear-icon-users2"></span></div>
                        </div>
                        <div class="unit-body">
                          <p class="blurb__title heading-6"><a href="#">Expert team</a></p>
                          <p>We are a team of dedicated web design and development professionals.</p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
                <div class="row justify-content-md-center">
                  <div class="col-md-12">
                    <!-- Linear progress bar-->
                    <div class="progress-linear progress-linear-modern">
                      <div class="progress-header">
                        <p>Dedication</p><span class="progress-value">49</span>
                      </div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"></div>
                      </div>
                    </div>
                    <!-- Linear progress bar-->
                    <div class="progress-linear progress-linear-modern">
                      <div class="progress-header">
                        <p>Experience</p><span class="progress-value">29</span>
                      </div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"></div>
                      </div>
                    </div>
                    <!-- Linear progress bar-->
                    <div class="progress-linear progress-linear-modern">
                      <div class="progress-header">
                        <p>Creativity</p><span class="progress-value">86</span>
                      </div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="object-wrap__body object-wrap__body-sizing-1 object-wrap__body-md-right bg-image" style="background-image: url(images/bg-image-1.jpg)"></div>
      </section>
