{% load static %}
      <section class="section-md bg-accent bg-image text-center bg-overlay-darker" style="background-image: url({% static 'images/banner_1-2.png' %}); background-position: center 50%;">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-11 col-lg-9 col-xl-8">
              <h3 class="heading-decorated">Залиште свій номер телефону або електронну пошту і ми зв'яжемося з вами.</h3><a class="button button-primary" href="/orders">Залишти заявку</a>
            </div>
          </div>
        </div>
      </section>
