{% load static %}
      <section class="section parallax-container context-dark" data-parallax-img="{% static 'images/parallax-1.jpg' %}">
        <div class="parallax-content">
          <div class="container section-md">
            <div class="row justify-content-md-center row-50">
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-coffee-cup"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">45</div>
                  </div>
                  <p class="box-counter__title">Проекти комерція щорічно</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-cube"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">2</div>
                  </div>
                  <p class="box-counter__title">Нагороди</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-chevrons-expand-horizontal"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">92</div><span>%</span>
                  </div>
                  <p class="box-counter__title">Позитивний відгук</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-mustache-glasses"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">2475</div>
                  </div>
                  <p class="box-counter__title">ЩАСЛИВІ КЛІЄНТИ</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
