{% load static %}

      <section class="pre-footer-corporate bg-image-7 bg-overlay-darkest">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
              <h6>Про ANMA</h6>
              <p>ANMA-electric - молода компанія, що об'єднує досвідчених професіоналів в сфері електромонтажу. Прагнемо створити кращу пропозицію по електромонтажним роботам, зберігаючи баланс між ціною і якістю, виправдовуємо довіру наших замовників. Працюємо в Києві, Київській області та в Україні загалом.</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
              <h6>Навігація</h6>
              <ul class="list-xxs">
                <li><a href="/">Головна</a></li>
                <li><a href="/about">Про ANMA</a></li>
                <li><a href="/portfolio">Портфоліо</a></li>
                <li><a href="/price">Прайс</a></li>
                <li><a href="/warranty">Гарантії</a></li>
                <li><a href="/privacy_policy">Політика конфіденційності</a></li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
              <h6>Недавні коментарі</h6>
              <ul class="list-xs">
                <li>
                  <!-- Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Саша Ягошинn</p>
                    <p class="comment-minimal__link"><a href="https://maps.app.goo.gl/cWGQMVUjGizgoFeA6">Замовляв у цій компанії установку та монтаж стабілізатора напруги. Фахівець Аnmа-еlесtriс приїхав....</a></p>
                  </article>
                </li>
                <li>
                  <!-- Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Алёна Щербакова</p>
                    <p class="comment-minimal__link"><a href="https://maps.app.goo.gl/PdDTnwoC563sqcab9">Змінювала з ними проводку на дачі, то прорахували все до дрібниць, сказали вартість послуги з....</a></p>
                  </article>
                </li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <h6>Контакти</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Адреса</dt>
                      <li><a href="https://www.google.com/maps/place/ANMA+electric/@50.4481144,30.4206435,16z/data=!4m14!1m7!3m6!1s0x40d4cd559c7dd7bd:0x99fc47c81e36c501!2sANMA+electric!8m2!3d50.4470042!4d30.4275528!16s%2Fg%2F11fqt0fkxt!3m5!1s0x40d4cd559c7dd7bd:0x99fc47c81e36c501!8m2!3d50.4470042!4d30.4275528!16s%2Fg%2F11fqt0fkxt?entry=ttu"  target="_blank">бульвар Вацлава Гавела, Київ, 02000</a></li>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Телефони:</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:+380992822020">(099) 282-20-20</a></li>
                      </ul>
                      <ul class="list-semicolon">
                        <li><a href="tel:+380682822020">(068) 282-20-20</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Електрона адреса:</dt>
                    <dd><a  href="mailto:anma.electric@gmail.com">anma.electric@gmail.com</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Ми відкриті:</dt>
                    <dd>Пн-Пт: 09:00-18:00</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-corporate bg-gray-darkest">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>&copy; ANMA electric • since 2020</span></p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-gray-darker fa fa-facebook" href="https://www.facebook.com/ANMA.Ukraine/" target="_blank"></a></li>
              <li><a class="icon icon-xxs icon-gray-darker fa-instagram" href="https://www.instagram.com/anma_electric/" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </footer>
