{% load static %}
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar_transparent rd-navbar_boxed" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="115px" data-lg-stick-up-offset="35px" data-body-class="rd-navbar-absolute">
            <!-- RD Navbar Top Panel-->
            <div class="rd-navbar-top-panel">
              <div class="rd-navbar-top-panel__main">
                <div class="rd-navbar-top-panel__toggle rd-navbar-fixed__element-1 rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-top-panel__main"><span></span></div>
                <div class="rd-navbar-top-panel__content">
                  <div class="rd-navbar-top-panel__left">
                    <ul class="rd-navbar-items-list">
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary linear-icon-map-marker"></span></div>
                          <div class="unit__body">
                            <p><a href="https://www.google.com/maps/place/ANMA+electric/@50.4481144,30.4206435,16z/data=!4m14!1m7!3m6!1s0x40d4cd559c7dd7bd:0x99fc47c81e36c501!2sANMA+electric!8m2!3d50.4470042!4d30.4275528!16s%2Fg%2F11fqt0fkxt!3m5!1s0x40d4cd559c7dd7bd:0x99fc47c81e36c501!8m2!3d50.4470042!4d30.4275528!16s%2Fg%2F11fqt0fkxt?entry=ttu"  target="_blank">бульвар Вацлава Гавела, Київ, 02000</a></p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary linear-icon-telephone"></span></div>
                          <div class="unit__body">
                            <ul class="list-semicolon">
                              <li><a href="tel:+380992822020">(099) 282-20-20</a></li>
                              <li><a href="tel:+380682822020">(068) 282-20-20</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary fa fa-envelope"></span></div>
                          <div class="unit__body">
                            <ul class="list-semicolon">
                              <li><a href="mailto:anma.electric@gmail.com">anma.electric@gmail.com</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="rd-navbar-top-panel__right">
                    <ul class="list-inline-xxs">
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-facebook" href="https://www.facebook.com/ANMA.Ukraine/" target="_blank"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa-instagram" href="https://www.instagram.com/anma_electric/" target="_blank"></a></li>
<!--                      <li><a class="icon icon-xxs icon-gray-darker fa fa-google-plus" href="#"></a></li>-->
<!--                      <li><a class="icon icon-xxs icon-gray-darker fa fa-vimeo" href="#"></a></li>-->
<!--                      <li><a class="icon icon-xxs icon-gray-darker fa fa-youtube" href="#"></a></li>-->
<!--                      <li><a class="icon icon-xxs icon-gray-darker fa fa-pinterest-p" href="#"></a></li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner rd-navbar-search-wrap">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel rd-navbar-search-lg_collapsable">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="/"><img src="{% static 'images/logo_B.png' %}" alt="" width="172" height="33"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                <div class="rd-navbar-search_collapsable">
                  <ul class="rd-navbar-nav">
                    <li class="active"><a href="/" style="font-size: 19px;">Головна</a>
                    </li>
                    <li><a href="/about" style="font-size: 19px;">Про ANMA</a>
                    </li>
                    <li><a href="/portfolio" style="font-size: 19px;">Портфоліо</a>
                    </li>
                    </li>
                    <li><a href="/lightning" style="font-size: 19px;">Блискавкозахист</a>
                    </li>
                    </li>
                    <li><a href="/grounding" style="font-size: 19px;">Заземлення</a>
                    </li>
                    <li><a href="/price" style="font-size: 19px;">Прайс</a>
                    </li>
                    <li><a href="/contacts" style="font-size: 19px; ">Контакти</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <svg class="defs">
        <defs>
          <lineargradient id="gradient1" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="50%" stop-color="#e29548">
              <animate attributename="stop-color" values="#e29548; #e2b948; #e29548" dur="5s" repeatcount="indefinite"></animate>
            </stop>
            <stop offset="100%" stop-color="#e2b948">
              <animate attributename="stop-color" values="#e2b948; #e29548; #e2b948" dur="5s" repeatcount="indefinite"></animate>
            </stop>
          </lineargradient>
        </defs>
      </svg class="defs" preserveAspectRatio="xMidYMid slice">
      <div class="swiper-container swiper-slider" data-effect="frame-trapeze" data-loop="true" data-autoplay="5500" data-speed="1200" data-mousewheel="false" data-keyboard="true" data-frame-fill="url(#gradient1)">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-img" style="background-image: url({% static 'images/kyiv.jpg' %});" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRotate&quot;, &quot;duration&quot;: 2000, &quot;delay&quot;: 600 }"></div>
            <div class="swiper-slide-caption text-center context-dark">
              <h1 data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 500 }">ANMA еlectric</h1>
              <h3 data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 600 }">забезпечте свій простір електричною безпекою та інноваціями</h3>
              <div class="group-lg group-middle" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 700 }"><a class="button button-primary button-shadow" href="/portfolio" >Дивіться фото</a><a class="button button-black button-shadow" href="/orders">НА ЗВ'ЯЗКУ</a></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-img" style="background-image: url({% static 'images/kyiv2.jpg' %});" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRotate&quot;, &quot;duration&quot;: 2000, &quot;delay&quot;: 600 }"></div>
            <div class="swiper-slide-caption context-dark">
              <h2 data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 500 }">Електромонтаж в ANMA Electric -<br class="d-none d-lg-block">ваш шлях до сучасних технологій та надійності</h2><a class="button button-primary button-shadow" href="/orders" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 700 }">НА ЗВ'ЯЗКУ</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-img" style="background-image: url({% static 'images/kyiv3.jpg' %});" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperSlideRotate&quot;, &quot;duration&quot;: 2000, &quot;delay&quot;: 600 }"></div>
            <div class="swiper-slide-caption context-dark">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-lg-7">
                    <h2 data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 500 }">ANMA Electric</h2>
                    <h5 class="text-width-2 block-centered" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 600 }">здійснюйте свої ідеї, довіряючи нам електромонтаж</h5>
                    <div class="group-lg group-middle" data-swiper-anime="{ &quot;animation&quot;: &quot;swiperContentStack&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 700 }"><a class="button button-black button-shadow" href="/portfolio" >Дивіться фото</a><a class="button button-primary button-shadow" href="/orders">НА ЗВ'ЯЗКУ</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev linear-icon-chevron-left"></div>
        <div class="swiper-button-next linear-icon-chevron-right"></div>
      </div>

