{% load static %}
      <section class="section-md bg-default text-center decor-text" id="features" data-content="Services">
        <div class="bg-decor d-flex align-items-center" data-parallax-scroll="{&quot;x&quot;: 80,  &quot;smoothness&quot;: 30}"><img src="{% static 'images/bg-decor-1.png' %}" alt=""/>
        </div>
        <div class="container">
          <h4 class="heading-decorated">Наші переваги</h4>
          <div class="row row-50 justify-content-md-center justify-content-lg-start text-left">
            <div class="col-md-6 col-xl-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon mdi mdi-flash"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Контроль за технікою безпеки</a></p>
                    <p>Ми високо цінуємо техніку безпеки, тому при виконанні електромонтажних робіт дотримуємося найвищих стандартів техніки безпеки для захисту як наших співробітників, так і клієнтів.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-users"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Інженери та монтажники</a></p>
                    <p>Наша команда включає в себе відповідальних та досвідчених інженерів і монтажників, готових забезпечити ефективне виконання електромонтажних робіт на вищому рівні.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon mdi mdi-briefcase"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Широкий спектр робіт</a></p>
                    <p>ANMAelectric надає повний спектр послуг у сфері електромонтажу, що включає в себе як стандартні роботи, так і індивідуальні проекти різної складності.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon mdi mdi-security"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Гарантія 1 гік</a></p>
                    <p>Надаємо гарантію якості на наші електромонтажні роботи строком до 1 року, забезпечуючи надійність та довговічність вашого електрообладнання.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon mdi mdi-calculator"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Ринкові ціни на електромонтажні роботи</a></p>
                    <p>Пропонуємо конкурентоспроможні ціни на електромонтажні роботи, відповідаючи ринковим стандартам і забезпечуючи високу якість послуг.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-xl-4">
              <!-- Blurb circle -->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-pencil-ruler2"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Терміни виконанняn</a></p>
                    <p>Гарантуємо своїм клієнтам точність та вчасність виконання електромонтажних робіт, дотримуючись обумовлених термінів.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Blurb minimal-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon mdi mdi-cash-multiple"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Готівковий та безготівковий розрахунок</a></p>
                    <p>Забезпечуємо зручність розрахунків для наших клієнтів, приймаючи як готівкові, так і безготівкові платежі за надані електромонтажні послуги.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Blurb minimal-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-menu3"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Співпраця за договором</a></p>
                    <p>Надаємо послуги електромонтажу за чіткими і прозорими умовами договору, забезпечуючи надійність і взаємодовіру між нами та клієнтом.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Blurb minimal-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-users2"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6"><a href="#">Індивідуальний підхід</a></p>
                    <p> Гарантуємо індивідуальний підхід до кожного клієнта, враховуючи його унікальні потреби та вимоги.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="section-md bg-gray-lighter text-center decor-text" data-content="Process">
        <div class="container">
          <h4 class="heading-decorated">НАШ РОБОЧИЙ ПРОЦЕС</h4>
          <div class="row row-30 justify-content-center align-items-center">
            <div class="col-sm-10 col-lg-6"><img src="{% static 'images/Cup.jpg' %}" alt="" width="650" height="495"/></div>
            <div class="col-sm-10 col-lg-6">
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-feather"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">1.Консультація</p>
                    <p>Ваш крок до ефективних електромонтажних рішень.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon mdi mdi-car"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">2.Виїзд на обєкт</p>
                    <p>Ми здійснюємо виїзд на об'єкт для детального огляду та забезпечення оптимальних рішень.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">3.Розробка проекту</p>
                    <p>Наша компанія проводить розробку проекту, враховуючи всі необхідні аспекти та вимоги, щоб забезпечити ефективність та безпеку</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon mdi mdi-calculator"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">4.Розрахунок вартості</p>
                    <p>Ми надаємо детальний розрахунок вартості послуг, забезпечуючи прозорість та відповідність вашим фінансовим можливостям.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon mdi mdi-file-document"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">5.Договір</p>
                    <p>Ми укладаємо офіційний договір, що чітко визначає умови співпраці, права та обов'язки сторін.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-hammer-wrench"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">6.Монтаж</p>
                    <p>Наші кваліфіковані монтажники проводять роботи швидко та якісно, забезпечуючи безперебійну роботу.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->
              <article class="blurb blurb-circle">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-circle__icon"><span class="icon mdi mdi-security"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">7.Гарантія</p>
                    <p>Ми надаємо гарантію на всі наші електромонтажні роботи, щоб забезпечити ваш спокій та задоволеність від наших послуг.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb circle-->



            </div>
          </div>
        </div>
      </section>
