{% load static %}
      <section class="section-md bg-default text-center">
        <div class="bg-decor d-flex align-items-center" data-parallax-scroll="{&quot;y&quot;: 50,  &quot;smoothness&quot;: 30}"><img src="{% static 'images/bg-decor-6.png' %}" alt=""/>
        </div>
        <div class="container">
          <h4> <a class="heading-decorated"  href="/portfolio">Портфоліо</a></h4>
          <div class="isotope-wrap row row-70">
            <div class="col-sm-12">
              <ul class="list-nav isotope-filters isotope-filters-horizontal">
                <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">Всі</a></li>
                <li><a data-isotope-filter="Category 1" data-isotope-group="gallery" href="#">Комерція</a></li>
                <li><a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">Житло</a></li>
              </ul>
              <div class="isotope row" data-isotope-layout="fitRows" data-isotope-group="gallery">
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_1.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_1_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_2.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_2_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_7.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_7_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                  <!--  2                -->
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_8.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_8_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_5.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_5_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_9.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_9_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                  <!--  3                -->
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_8.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_8_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_10.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_10_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_12.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_12_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                  <!--  4                -->
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_7.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_7_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_14.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_14_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_6.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_6_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                  <!--  5                -->
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_11.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_11_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c1_9.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c1_9_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Комерція</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2"><a class="img-thumbnail-variant-3" href="{% static 'images/port/c2_13.jpg' %}" data-lightgallery="item">
                          <figure><img src="{% static 'images/port/c2_13_1.jpg' %}" alt="" width="418" height="315"/>
                          </figure>
                          <div class="caption"><span class="icon hover-top-element linear-icon-picture"></span>
                            <p class="heading-5 hover-top-element">Житло</p>
                            <div class="divider"></div>
                          </div></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-md text-center bg-default">
        <div class="bg-decor d-flex align-items-center justify-content-end" data-parallax-scroll="{&quot;y&quot;: 130, &quot;smoothness&quot;: 30}"><img src="{% static 'images/bg-decor-4.png' %}" alt=""/>
        </div>
        <div class="container">
          <h4 class="heading-decorated">НАШІ КЛІЄНТИ</h4>
          <div class="row row-30">
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/perfect-logo.jpg' %}" alt="" width="126" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/StolitsaLogo.jpg' %}" alt="" width="134" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/KG.jpg' %}" alt="" width="132" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/dim.png' %}" alt="" width="126" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/kan.jpg' %}" alt="" width="138" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/укрбуд.png' %}" alt="" width="143" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><<img src="{% static 'images/центрбуд.png' %}" alt="" width="109" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/Ukrhydroenergo-UA.jpg' %}" alt="" width="109" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/logo-og_ru.png' %}" alt="" width="109" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/917063_company_logo_2.png' %}" alt="" width="109" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/1307865_company_logo_ogc_2.png' %}" alt="" width="109" height="102"/></a></figure>
            </div>
            <div class="col-sm-6 col-md-3">
              <figure class="box-icon-image"><img src="{% static 'images/12646_company_logo_1.png' %}" alt="" width="109" height="102"/></a></figure>
            </div>
          </div>
        </div>
      </section>
