{% load static %}
<section>
    <section class="section-md bg-default text-center">
        <div class="bg-decor d-flex align-items-center"
             data-parallax-scroll="{&quot;y&quot;: 50,  &quot;smoothness&quot;: 30}"><img
                src="{% static 'images/bg-decor-6.png' %}" alt=""/>
        </div>
        <div class="faqs">
            <div class="container">
                <div class="heading-decorated">
                    <h4>Наші ціни </h4>
                    <p><a href="{% static 'images/Prices.pdf' %}" download>ЗАВАНТАЖИТИ 01.04.2024</a></p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="accordion-1">
                            <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                        Монтаж кабельних ліній
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Кабель перетином, ціна за м\п<br>6,0 мм² - 21,6-26,4 грн <br>6,0-10 мм² - 31,3-38,4 грн
                                        <br>10-16
                                        мм² - 57,6 грн
                                    </div>
                                    <div class="card-body">
                                        Протягування кабелю в гофрі - 36 грн за м\п
                                    </div>
                                    <div class="card-body">
                                        Протягування кабелю в трубі - 28,2 грн за м\п
                                    </div>

                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                        Монтаж труб для електропроводки
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за м/п:<br>12*12-40*25 - 48 грн<br>60*40-100*40 - 76,8 грн<br>100*50-150*50 -
                                        115,2
                                        грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                        Врізка під підрозетник
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт.:<br>бетон - 115,2 грн<br>цегла - 96 грн<br>всіх видів блок - 76,8 грн<br>гіпсокартон
                                        - 67,2 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                        Монтаж підрозетника
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт - 19,2 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                        Штроблення стін
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Штроблення стін бетон, ціна за м/п:<br>2х2-3х2 - 96 грн<br>4х2-5х2 - 134,4 грн
                                    </div>
                                    <div class="card-body">
                                        Штроблення стін цегла, ціна за м/п:<br>2х2-3х2 - 76,8 грн<br>4х2-5х2 - 115,2 грн
                                    </div>
                                    <div class="card-body">
                                        Штроблення стін всіх видів блоку, ціна за м/п:<br>2х2-3х2 - 48 грн<br>4х2-5х2 -
                                        67,2
                                        грн
                                    </div>
                                    <div class="card-body">
                                        Вмазка штроби, ціна за м/п:<br>2х2-3х2 - 28,8 грн<br>4х2-5х2 - 34,8 грн
                                    </div>

                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.6s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse6">
                                        Буріння отворів в стінах
                                    </a>
                                </div>
                                <div id="collapse6" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Буріння отворів - бетон, ціна за шт.:<br>16-20 дм. - 96 грн<br>20-24 дм. - 144
                                        грн<br>24-32 дм. - 192 грн
                                    </div>
                                    <div class="card-body">
                                        Буріння отворів - цегла, ціна за шт.:<br>16-20 дм. - 67,2 грн<br>20-24 дм. - 105,6
                                        грн<br>24-32 дм. - 1153,6 грн
                                    </div>
                                    <div class="card-body">
                                        Буріння отворів - блок, ціна за шт.:<br>16-20 дм. - 28,8 грн<br>20-24 дм. - 48 грн<br>24-32
                                        дм. - 105,6 грн
                                    </div>


                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.7s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse7">
                                        Буріння отворів під вентилятор
                                    </a>
                                </div>
                                <div id="collapse7" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Буріння отворів - бетон, ціна за шт.:<br>100 мм. - 192 грн<br>125 мм. - 288
                                        грн<br>150
                                        мм. - 3384 грн
                                    </div>
                                    <div class="card-body">
                                        Буріння отворів - цегла, ціна за шт.:<br>100 мм. - 134,4 грн<br>125 мм. - 230,4
                                        грн<br>150
                                        мм. - 326,4 грн
                                    </div>
                                    <div class="card-body">
                                        Буріння отворів - блок, ціна за шт.:<br>100 мм. - 86,4 грн<br>125 мм. -144
                                        грн<br>150
                                        мм. - 211,2 грн
                                    </div>
                                    <div class="card-body">
                                        Буріння отворів - гіпсокартон, ціна за шт.:<br>100 мм. - 67,2 грн<br>125 мм. -
                                        105,6
                                        грн<br>150 мм. - 144 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.8s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse8">
                                        Ніша під розподільну коробку
                                    </a>
                                </div>
                                <div id="collapse8" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ніша - бетон, ціна за шт.:<br>10×10×5 - 153,6 грн<br>12.5×12.5×5 - 211,2 грн<br>15×15×5
                                        - 288 грн<br>20×20×5 - 384 грн
                                    </div>
                                    <div class="card-body">
                                        Ніша - цегла, ціна за шт.:<br>10×10×5 - 115,2 грн<br>12.5×12.5×5 - 172,8 грн<br>15×15×5
                                        - 230,4 грн<br>20×20×5 - 307,2 грн
                                    </div>
                                    <div class="card-body">
                                        Ніша - блок, ціна за шт.:<br>10×10×5 - 96 грн<br>12.5×12.5×5 - 134,4 грн<br>15×15×5
                                        -
                                        172,8 грн<br>20×20×5 - 249,6 грн
                                    </div>
                                    <div class="card-body">
                                        Ніша - гіпсокартон, ціна за шт.:<br>10×10×5 - 86,4 грн<br>12.5×12.5×5 - 105,6
                                        грн<br>15×15×5
                                        - 124,8 грн<br>20×20×5 - 172,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="0.9s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse9">
                                        Монтаж розподільної коробки
                                    </a>
                                </div>
                                <div id="collapse9" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт.:<br>10х10х5 - 86,4 грн<br>12.5х12.5х5 - 105,5 грн<br>15х15х5 - 124,8
                                        грн<br>20х20х5
                                        - 153,6 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.0s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse10">
                                        Монтаж накладної розподільної коробки
                                    </a>
                                </div>
                                <div id="collapse10" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт. - 48 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.1s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse11">
                                        Збирання схем розподільної коробки
                                    </a>
                                </div>
                                <div id="collapse11" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт. - 153,6 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.2s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse12">
                                        Ніша під щит силовий, слабкострумовий
                                    </a>
                                </div>
                                <div id="collapse12" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ніша - бетон, ціна за шт.:<br>6 модулів - 384 грн<br>12 модулів - 768 грн<br>18
                                        модулів - 960 грн<br>18 модулів - 1152 грн<br>36 модулів - 1536 грн<br>48 модулів
                                        -
                                        2496 грн<br>56 модулів - 2688 грн
                                    </div>
                                    <div class="card-body">
                                        Ніша - цегла, ціна за шт.:<br>6 модулів - 288 грн<br>12 модулів - 480 грн<br>18
                                        модулів - 768 грн<br>18 модулів - 960 грн<br>36 модулів - 1152 грн<br>48 модулів
                                        -
                                        1536 грн<br>56 модулів - 1920 грн
                                    </div>
                                    <div class="card-body">
                                        Ніша - блок, ціна за шт.:<br>6 модулів - 192 грн<br>12 модулів - 288 грн<br>18
                                        модулів - 384 грн<br>18 модулів - 576 грн<br>36 модулів - 768 грн<br>48 модулів
                                        -
                                        1152 грн<br>56 модулів - 1344 грн
                                    </div>
                                    <div class="card-body">
                                        Ніша - гіпсокартон, ціна за шт.:<br>6 модулів - 134,4 грн<br>12 модулів - 192
                                        грн<br>18
                                        модулів - 288 грн<br>18 модулів - 384 грн<br>36 модулів - 576 грн<br>48 модулів
                                        -
                                        768 грн<br>56 модулів - 960 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.3s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse13">
                                        Монтаж щита силовий, слабкострумовий
                                    </a>
                                </div>
                                <div id="collapse13" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт.:<br>6 модулів - 96 грн<br>12 модулів - 192 грн<br>18 модулів - 288
                                        грн<br>18 модулів - 384 грн<br>36 модулів - 576 грн<br>48 модулів - 672 грн<br>56
                                        модулів - 768 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.4s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse14">
                                        Установка автоматики щита
                                    </a>
                                </div>
                                <div id="collapse14" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт.:<br>однополюсні - 115,2 грн<br>двополюсні - 144 грн<br>триполюсні - 268,8
                                        грн<br>УЗО
                                        1 фаза - 211,2 грн<br>УЗО 3 фази - 422,4 грн<br>Диференціальний автомат 1 фаза - 144
                                        грн<br>Диференціальний
                                        автомат 3 фази - 316,8 грн<br>Реле напруги 1 фаза - 192 грн<br>Реле напруги 3 фази
                                        -
                                        672 грн<br>Пусковий контактор - 960 грн<br>Шина нульова та заземлення - 96
                                        грн<br>Обмежувачі
                                        - 48 грн<br>Крос-модуль - 192 грн<br>Демонтаж автоматів - 76,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.5s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse15">
                                        Установка тимчасових вимикачів, розеток
                                    </a>
                                </div>
                                <div id="collapse15" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт. - 28,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.6s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse16">
                                        Демонтаж вимикачів, розеток
                                    </a>
                                </div>
                                <div id="collapse16" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за шт. - 19,2 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.7s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse17">
                                        Демонтаж кабельних ліній
                                    </a>
                                </div>
                                <div id="collapse17" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за м/п - 9,6 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.8s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse18">
                                        Прозвонка приміщення
                                    </a>
                                </div>
                                <div id="collapse18" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Ціна за м² - 76,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInLeft" data-wow-delay="1.9s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse19">
                                        Блискавкозахист
                                    </a>
                                </div>
                                <div id="collapse19" class="collapse" data-parent="#accordion-1">
                                    <div class="card-body">
                                        Виконавча документація (проект, паспорт).<br>Протоколи вимірювань.<br>Обладнання<br>Монтаж
                                    </div>
                                    <div class="card-body">
                                        60 000 грн<br>Приватний будинок 10х10м, h=6м<br>Типове рішення
                                    </div>
                                    <div class="card-body">
                                        90 000 грн<br>Приватний будинок 20х20м, h=6м<br>Типове рішення
                                    </div>
                                    <div class="card-body">
                                        240 000 грн<br>Промисловий об'єкт 20х50м, h=12м<br>Плоска покрівля, бетон,
                                        цегла.<br>Типове рішення
                                    </div>
                                    <div class="card-body">
                                        240 000 грн<br>Агропромисловий об'єкт 20х50м, h=12м<br>Металоконструкція.<br>Типове
                                        рішення
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="accordion-2">
                            <div class="card wow fadeInRight" data-wow-delay="0.1s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                        Інформаційна зустріч, виїзд на об'єкт
                                    </a>
                                </div>
                                <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - 576 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.2s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                        Прорахунок кошторисів
                                    </a>
                                </div>
                                <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за м² - 28,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                        Розробка схеми електропроводки
                                    </a>
                                </div>
                                <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за м² - 124,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.4s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                        Монтаж інсталяційного обладнання (чистові)
                                    </a>
                                </div>
                                <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Монтаж фурнітури<br>Ціна за шт. - 96 грн
                                    </div>
                                    <div class="card-body">
                                        Монтаж датника теплого полу<br>Ціна за шт. - 192 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.5s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                        Монтаж люстр
                                    </a>
                                </div>
                                <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - від 660 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.6s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse23">
                                        Монтаж настінного бра
                                    </a>
                                </div>
                                <div id="collapse23" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - від 288 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.7s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse24">
                                        Монтаж вентилятора
                                    </a>
                                </div>
                                <div id="collapse24" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - 240 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.8s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse25">
                                        Монтаж дзеркала з підсвіткою
                                    </a>
                                </div>
                                <div id="collapse25" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - від 672 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="0.9s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse26">
                                        Монтаж точкового світла без трансформатора
                                    </a>
                                </div>
                                <div id="collapse26" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - від 420 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.0s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse27">
                                        Монтаж точкового світла з трансформатора
                                    </a>
                                </div>
                                <div id="collapse27" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - 553,6 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.1s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse28">
                                        Монтаж армстронга
                                    </a>
                                </div>
                                <div id="collapse28" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - 192 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.2s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse29">
                                        Підключення електроприборів
                                    </a>
                                </div>
                                <div id="collapse29" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - від 390 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.3s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse30">
                                        Монтаж трансформатора
                                    </a>
                                </div>
                                <div id="collapse30" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - 192 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.4s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse31">
                                        Монтаж кнопки дзвінка
                                    </a>
                                </div>
                                <div id="collapse31" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        96 грн. м/п
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.5s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse32">
                                        Монтаж вхідного дзвінка
                                    </a>
                                </div>
                                <div id="collapse32" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за шт. - 192 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.6s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse33">
                                        Монтаж LED-стрічки в коробі комплекс
                                    </a>
                                </div>
                                <div id="collapse33" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за м\п - 528 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.7s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse34">
                                        Прорахунок кошторисів
                                    </a>
                                </div>
                                <div id="collapse34" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за м2 - 28,8 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.8s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse35">
                                        Інформаційна зустріч, виїзд на об'єкт
                                    </a>
                                </div>
                                <div id="collapse35" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Ціна за м\п - 576 грн
                                    </div>
                                </div>
                            </div>
                            <div class="card wow fadeInRight" data-wow-delay="1.8s">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapse36">
                                        Контур заземлення
                                    </a>
                                </div>
                                <div id="collapse36" class="collapse" data-parent="#accordion-2">
                                    <div class="card-body">
                                        Заземлення і захисні заходи від ураження електричним струмом<br>Виконавча
                                        документація (паспорт)<br>Протоколи вимірювань<br>Обладнання<br>Монтаж
                                    </div>
                                    <div class="card-body">
                                        18 000 грн<br>Повторний контур заземлення<br> (повторний нуль)<br>Типове рішення
                                    </div>
                                    <div class="card-body">
                                        24 000 грн<br>Стандартний контур заземлення<br>Типове рішення
                                    </div>
                                    <div class="card-body">
                                        54 000 грн<br>Глибинне заземлення<br>Типове рішення
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-md bg-gray-lighter text-center decor-text" data-content="lightning">
        <div class="container">
            <!-- Додайте кнопку з посиланням на нову сторінку -->
            <div class="row justify-content-center mt-5">
                <div class="col-md-12">
                    <a href="/order_ligh_groun" class="btn btn-custom btn-lg rounded-pill px-4 py-2"
                       style="background-color: #fdbe33; border-color: #fdbe33; color: #ffffff;">Замовити під ключ</a>
                </div>
            </div>
            <div class="row justify-content-lg-center">
                <div class="col-lg-10 col-xl-8">
                    <h4 class="heading-decorated">Блискавкозахист під ключ</h4>
                    <p>Виконавча документація (проект, паспорт).<br>Протоколи вимірювань.<br>Обладнання. <br> Монтаж.
                    </p>
                </div>
            </div>
            <div class="row row-50">
                <div class="col-md-6 col-lg-6">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">60 000 грн</p>
                        <p>Приватний будинок 10х10м, h=6м <br>Типове рішення</p>
                    </article>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">90 000 грн</p>
                        <p>Приватний будинок 20х20м, h=6м <br>Типове рішення</p>
                    </article>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">240 000 грн</p>
                        <p>Промисловий об'єкт 20х50м, h=12м <br>Плоска покрівля, бетон, цегла. <br>Типове рішення</p>
                    </article>
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">240 000 грн</p>
                        <p>Агропромисловий об'єкт 20х50м, h=12м <br>Металоконструкція. <br>Типове рішення</p>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section-md bg-gray-lighter text-center decor-text" data-content="Grounding">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10 col-xl-8">
                    <h4 class="heading-decorated">Заземлення під ключ</h4>
                    <p>Заземлення і захисні заходи від ураження електричним струмом<br>Виконавча документація
                        (паспорт)<br>Протоколи
                        вимірювань<br>Обладнання<br>Монтаж</p>
                </div>
            </div>
            <div class="row row-50">
                <div class="col-md-6 col-lg-4">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">18 000 грн</p>
                        <p>Повторний контур заземлення <br>Типове рішення</p>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">24 000 грн</p>
                        <p>Стандартний контур заземлення (нуль) <br>Типове рішення</p>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- Blurb circle-->
                    <article class="blurb blurb-circle blurb-circle_centered">
                        <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                        <p class="blurb__title">54 000 грн</p>
                        <p>Глибинне заземлення (нуль) <br>Типове рішення</p>
                    </article>
                </div>
            </div>
            <!-- Додайте кнопку з посиланням на нову сторінку -->
            <div class="row justify-content-center mt-5">
                <div class="col-md-12">
                    <a href="/order_ligh_groun" class="btn btn-custom btn-lg rounded-pill px-4 py-2"
                       style="background-color: #fdbe33; border-color: #fdbe33; color: #ffffff;">Замовити під ключ</a>
                </div>
            </div>
        </div>
    </section>
</section>
