{% load static %}
      <section class="section-md bg-default">
        <div class="bg-decor d-flex align-items-center justify-content-end" data-parallax-scroll="{&quot;x&quot;: -100, &quot;y&quot;: -30, &quot;smoothness&quot;: 30}"><img src="{% static 'images/bg-decor-9.png' %}" alt=""/>
        </div>
        <div class="container">
          <div class="row justify-content-md-center justify-content-lg-between row-50 align-items-center">
            <div class="col-md-8 col-lg-6">
              <div id="accordion" role="tablist">
                <h4>ВІДГУКИ КЛІЄНТІВ</h4>
                      <!-- Bootstrap card-->
                      <div class="card card-custom">
                        <div class="card-custom-heading" id="accordionHeading0" role="tab">
                          <h5 class="card-custom-title">
                            <img class="customer-avatar" src="{% static 'images/cleint1.jpg' %}" alt="Аватарка клієнта">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#accordionCollapse0" aria-controls="accordionCollapse0">Діна Лозинська</a>
                          </h5>
                        </div>
                        <div class="card-custom-collapse collapse" id="accordionCollapse0" role="tabpanel" aria-labelledby="accordionHeading0">
                          <div class="card-custom-body">
                            <p>Кілька разів зверталися до компанії ANMA-еlectric та завжди були задоволені результатом роботи. Перший раз був монтаж навісних панелей в офісній будівлі, потім монтаж вуличного освітлення. Майстри впоралися у вказаний термін і все було зроблено на найвищому рівні.</p>
                          </div>
                        </div>
                      </div>
                      <!-- Bootstrap card-->
                      <div class="card card-custom">
                        <div class="card-custom-heading" id="accordionHeading1" role="tab">
                          <h5 class="card-custom-title">
                            <img class="customer-avatar" src="{% static 'images/cleint2.jpg' %}" alt="Аватарка клієнта">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#accordionCollapse1" aria-controls="accordionCollapse1">Olga Samoilova</a>
                          </h5>
                        </div>
                        <div class="card-custom-collapse collapse" id="accordionCollapse1" role="tabpanel" aria-labelledby="accordionHeading1">
                          <div class="card-custom-body">
                            <p>Замовляла розведення всієї проводки у новій квартирі та встановлення двозонного лічильника. Із поставленим завданням впоралися на ура. Все виконано згідно з правилами і в обумовлений термін. Приємно мати справу із професіоналами</p>
                          </div>
                        </div>
                      </div>
                      <!-- Bootstrap card-->
                      <div class="card card-custom">
                        <div class="card-custom-heading" id="accordionHeading2" role="tab">
                          <h5 class="card-custom-title">
                            <img class="customer-avatar" src="{% static 'images/cleint3.jpg' %}" alt="Аватарка клієнта">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#accordionCollapse2" aria-controls="accordionCollapse2">Svetik Alexeevna</a>
                          </h5>
                        </div>
                        <div class="card-custom-collapse collapse" id="accordionCollapse2" role="tabpanel" aria-labelledby="accordionHeading2">
                          <div class="card-custom-body">
                            <p>Робила капітальний ремонт квартири. Хлопці багато роботи зробили. Від перенесення лічильника до квартири, до всієї проводки, у зв'язку з монтажем натяжних стель розводили під точкові світильники. Переносили розетки та інше.</p>
                          </div>
                        </div>
                      </div>
                      <!-- Bootstrap card-->
                      <div class="card card-custom">
                        <div class="card-custom-heading" id="accordionHeading3" role="tab">
                          <h5 class="card-custom-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#accordionCollapse3" aria-controls="accordionCollapse3">Відгуки клієнтів Facebook та Google</a>
                          </h5>
                        </div>
                        <div class="card-custom-collapse collapse" id="accordionCollapse3" role="tabpanel" aria-labelledby="accordionHeading3">
                          <div class="card-custom-body">
                            <p><a href="https://www.facebook.com/ANMA.Ukraine/reviews/?ref=page_internal" target="_blank" >ВІДГУКИ FACEBOOK</a></p>
                            <p><a href="https://www.google.com/maps/place/ANMA+electric/@50.4470042,30.4253641,17z/data=!4m11!1m2!2m1!1z0K3Qu9C10LrRgtGA0L7QvNC-0L3RgtCw0LY!3m7!1s0x40d4cd559c7dd7bd:0x99fc47c81e36c501!8m2!3d50.4470042!4d30.4275528!9m1!1b1!16s%2Fg%2F11fqt0fkxt?entry=ttu" target="_blank" >ВІДГУКИ GOOGLE</a></p>
                          </div>
                        </div>
                      </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-5">
              <figure class="button-shadow"><img src="{% static 'images/home-variant-3-555x800.jpg' %}" alt="" width="555" height="800"/>
              </figure>
            </div>
          </div>
        </div>
      </section>
