{% extends '_layouts/base.html' %}
{% load static %}
{% block content %}

{% include '_fragments/TitleMenu.html' %}


<div class="section-sm section-divided">
    <div class="container">
        <section class="section-sm">
            <!-- Quote centered-->
            <div class="quote-centered">
                <svg class="quote-centered__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg"
                     x="0px" y="0px" width="40.234px" height="33.484px" viewbox="0 0 30.234 23.484"
                     xml:space="preserve">
                      <g>
                        <path fill="#ffcc12"
                              d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959 c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246 c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885 c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426 C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723 c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984 c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809 c1.336,0,2.52,0.545,3.551,1.635s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793 c-1.969,0-3.668-0.809-5.098-2.426s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508 C21.773,3.539,24.844,1.524,29.039,0z"></path>
                      </g>
                  </svg>
                <div class="quote-centered__text">
                    <p class="q">Ми надаємо послуги з проектування та монтажу заземлювальних систем, щоб забезпечити
                        найвищий рівень безпеки для вашого об'єкту.</p>
                </div>
                <p class="quote-centered__cite">Контур Заземлення</p>
            </div>
        </section>
        <!-- Some other styles-->
        <section class="section-sm">
            <h5>Що таке Заземлення?</h5>
            <p class="first-letter">-це важлива складова будь-якої системи електрозахисту, включаючи системи
                блискавкозахисту. <br>Це процес створення низького опору шляху для розряду блискавки або інших
                електричних
                розрядів до землі, щоб максимально знизити можливість пошкодження обладнання або будівельної
                конструкції.
            </p>
        </section>
        <!-- Some other styles-->
        <section class="section-sm">
            <h5>Ось деякі ключові аспекти заземлення, про які важливо знати:</h5>
            <p><span class="post-inline__time">Функція заземлення:</span> <br>Основна функція заземлення полягає в тому,
                щоб відводити електричний струм від об'єкта (наприклад, будівлі) до землі. Це допомагає захистити
                обладнання та людей від ураження електричним струмом в разі непередбачених обставин, таких як урагани
                або блискавка.
                <br><span class="post-inline__time">Компоненти заземлення: </span> <br>Заземлювальна система складається
                зі заземлювальних електродів, з'єднаних з будівлею або обладнанням, та заземлювального провідника, який
                під'єднаний до цих електродів і проведений до штучного або природного заземлювального шару в землі.
                <br><span class="post-inline__time">Типи заземлення:</span> <br>Існують різні типи заземлення, включаючи
                однопунктове, многоточкове та сітчасте заземлення. Кожен з них має свої переваги і може бути
                використаний в залежності від специфіки будівлі та потреб безпеки.
                <br><span class="post-inline__time">Правильний монтаж: </span> <br> Правильний монтаж заземлювальної
                системи включає в себе вибір оптимального місця розташування заземлювальних електродів, використання
                якісних матеріалів та відповідне підключення до обладнання.
                <br><span class="post-inline__time">Перевірка та обслуговування:</span>Заземлювальну систему слід
                періодично перевіряти та обслуговувати, щоб впевнитися у її належному функціонуванні. Це важливо для
                підтримки безпеки та ефективності всієї системи електрозахисту.
            </p>
        </section>
        <!-- Some other styles-->
        <section class="section-sm">
            <h5>Наші послуги заземлення включають в себе:</h5>
            <p><span class="post-inline__time">1. Експертну консультацію:</span> <br>Наші кваліфіковані фахівці
                проведуть детальну консультацію з вами, щоб зрозуміти ваші потреби та вимоги, а також визначити
                оптимальний план дій для заземлення вашого об'єкту.
                <br><span class="post-inline__time">2. Проектування заземлення:</span> <br>Ми розробляємо індивідуальні
                проекти заземлення, враховуючи особливості вашого об'єкту та вимоги безпеки. Наші проекти відповідають
                всім вимогам стандартів і нормативів.
                <br><span class="post-inline__time">3. Монтаж заземлювальної системи:</span> <br>Наші кваліфіковані
                спеціалісти виконають професійний монтаж заземлювальної системи, використовуючи якісні матеріали та
                передові технології.
                <br><span class="post-inline__time">4. Тестування та налагодження:</span> <br>Після монтажу ми проведемо
                комплексне тестування системи заземлення для перевірки її надійності та ефективності. Ми також надаємо
                послуги з налагодження системи заземлення для максимальної ефективності.
                <br><span class="post-inline__time">5. Обслуговування та підтримка:</span> <br>Ми забезпечуємо регулярне
                обслуговування та технічну підтримку заземлювальної системи, щоб забезпечити її найвищу ефективність та
                безпеку протягом усього терміну її експлуатації.
            </p>
        </section>
    </div>
</div>

<section class="section-md bg-gray-lighter text-center decor-text" data-content="Grounding">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
                <h4 class="heading-decorated">Комплекс під ключ містить</h4>
                <p>Заземлення і захисні заходи від ураження електричним струмом<br>Виконавча документація (паспорт)<br>Протоколи
                    вимірювань<br>Обладнання<br>Монтаж</p>
            </div>
        </div>
        <div class="row row-50">
            <div class="col-md-6 col-lg-4">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">18 000 грн</p>
                    <p>Повторний контур заземлення <br>Типове рішення</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">24 000 грн</p>
                    <p>Стандартний контур заземлення (нуль) <br>Типове рішення</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">54 000 грн</p>
                    <p>Глибинне заземлення (нуль) <br>Типове рішення</p>
                </article>
            </div>
        </div>
        <!-- Додайте кнопку з посиланням на нову сторінку -->
        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <a href="order_ligh_groun" class="btn btn-custom btn-lg rounded-pill px-4 py-2"
                   style="background-color: #fdbe33; border-color: #fdbe33; color: #ffffff;">Замовити послугу</a>
            </div>
        </div>
    </div>
</section>


{% include '_fragments/FooterAbout.html' %}

{% endblock content %}