{% extends '_layouts/base.html' %}
{% load static %}
{% block content %}

{% include '_fragments/TitleMenu.html' %}


<div class="section-sm section-divided">
    <div class="container">
        <section class="section-sm">
            <!-- Quote centered-->
            <div class="quote-centered">
                <svg class="quote-centered__mark" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg"
                     x="0px" y="0px" width="40.234px" height="33.484px" viewbox="0 0 30.234 23.484"
                     xml:space="preserve">
                      <g>
                        <path fill="#ffcc12"
                              d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959 c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246 c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885 c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426 C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723 c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984 c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809 c1.336,0,2.52,0.545,3.551,1.635s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793 c-1.969,0-3.668-0.809-5.098-2.426s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508 C21.773,3.539,24.844,1.524,29.039,0z"></path>
                      </g>
                  </svg>
                <div class="quote-centered__text">
                    <p class="q">Зв'яжіться з нами для отримання послуги монтажу системи блискавкозахисту - надійного
                        заходу безпеки, який захищає ваше майно від небезпечного впливу блискавки.</p>
                </div>
                <p class="quote-centered__cite">Блискавкозахист </p>
            </div>
        </section>
        <!-- Some other styles-->
        <section class="section-sm">
            <h5>Що таке система блискавкозахисту?</h5>
            <p class="first-letter">-Це комплексний набір заходів, який включає в себе монтаж спеціальних елементів на
                будівлі з метою відводу енергії блискавки до землі. Вона складається з різноманітних компонентів, таких
                як молниєві відвідники, провідники, заземлюючі електроди та інші, і спроектована для мінімізації ризику
                пошкодження будівлі та електричного обладнання від ударів блискавки.
            </p>
        </section>
        <!-- Some other styles-->
        <section class="section-sm">
            <h5>Переваги встановлення системи блискавкозахисту:</h5>
            <p><span class="post-inline__time">1. Безпека майна та життя:</span> <br>Система блискавкозахисту дозволяє
                уникнути небезпеки пожежі та пошкоджень від удару блискавки, забезпечуючи безпеку вашого майна та життя.
                <br><span class="post-inline__time">2. Збереження вартості:</span> <br>Встановлення системи
                блискавкозахисту допомагає заощадити кошти на ремонті та відновленні будівлі та електрообладнання після
                потенційно руйнівних впливів блискавки.
                <br><span class="post-inline__time">3. Захист електронних пристроїв: </span> <br>Система
                блискавкозахисту захищає електронні пристрої, комп'ютери та інші чутливі обладнання від перенапруг та
                перенапругових ударів, що можуть виникнути внаслідок блискавки.
                <br><span class="post-inline__time">4. Відповідність стандартам безпеки: </span> <br>Монтаж системи
                блискавкозахисту забезпечує відповідність будівлі вимогам стандартів безпеки та будівельних нормативів.
                <br><span class="post-inline__time">5. Покращення іміджу: </span> Захист від блискавки підвищує
                репутацію власника будівлі як відповідального та пильного до безпеки.
            </p>
        </section>
        <!-- Some other styles-->
        <section class="section-sm">
            <h5>Наші послуги включають в себе:</h5>
            <p><span class="post-inline__time">1. Експертна консультація:</span> <br>Наші кваліфіковані фахівці
                проведуть детальний огляд вашого об'єкту та визначать оптимальні місця для встановлення системи
                блискавкозахисту.
                <br><span class="post-inline__time">2. Проектування та професійна установка:</span> <br>Ми розробляємо
                індивідуальні проекти для кожного клієнта, враховуючи особливості будівлі та потреби клієнта. Наші
                висококваліфіковані монтажники забезпечать швидку та безпечну установку системи.
                <br><span class="post-inline__time">3. Використання високоякісних матеріалів: </span> <br>Ми
                використовуємо лише найсучасніші та надійні матеріали від провідних виробників, щоб забезпечити
                максимальну ефективність та довговічність системи.
                <br><span class="post-inline__time">4. Тестування та сертифікація: </span> <br>Після завершення монтажу
                ми проводимо комплексне тестування системи, щоб забезпечити її належну роботу та відповідність
                стандартам безпеки.
            </p>

    </div>
</div>

<section class="section-md bg-gray-lighter text-center decor-text" data-content="lightning">
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">
                <h4 class="heading-decorated">Комплекс під ключ містить</h4>
                <p>Виконавча документація (проект, паспорт).<br>Протоколи вимірювань.<br>Обладнання. <br> Монтаж. </p>
            </div>
        </div>
        <div class="row row-50">
            <div class="col-md-6 col-lg-6">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">60 000 грн</p>
                    <p>Приватний будинок 10х10м, h=6м <br>Типове рішення</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-6">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">90 000 грн</p>
                    <p>Приватний будинок 20х20м, h=6м <br>Типове рішення</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-6">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">240 000 грн</p>
                    <p>Промисловий об'єкт 20х50м, h=12м <br>Плоска покрівля, бетон, цегла. <br>Типове рішення</p>
                </article>
            </div>
            <div class="col-md-6 col-lg-6">
                <!-- Blurb circle-->
                <article class="blurb blurb-circle blurb-circle_centered">
                    <div class="blurb-circle__icon"><span class="icon linear-icon-bag2"></span></div>
                    <p class="blurb__title">240 000 грн</p>
                    <p>Агропромисловий об'єкт 20х50м, h=12м <br>Металоконструкція. <br>Типове рішення</p>
                </article>
            </div>
        </div>
        <!-- Додайте кнопку з посиланням на нову сторінку -->
        <div class="row justify-content-center mt-5">
            <div class="col-md-12">
                <a href="order_ligh_groun" class="btn btn-custom btn-lg rounded-pill px-4 py-2"
                   style="background-color: #fdbe33; border-color: #fdbe33; color: #ffffff;">Замовити послугу</a>
            </div>
        </div>
    </div>
</section>


{% include '_fragments/FooterAbout.html' %}

{% endblock content %}